body{
    background-color:#8fd7d8;
    text-align: center;

}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 2rem;
    border: none;
    box-shadow:6px 5px 4px black;
    font-size: 8vmin;
    color: rgb(239, 223, 201);
    background-color: rgb(1, 81, 108);
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#newgame-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #fff;
    font-size: 8vmin;
}

.msgcontainer{
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}